.header{
background-color:powderblue;
font-size:50px;
height:70px;
margin-bottom:10;

}

.btn{

width:20%;
height:40;
margin-bottom:20;


}
.main{
text-align:center;

}
.left{
width:29%;
float:left;
border-left:2px solid;
border-right:2px solid;
border-top:2px solid;
height:100%;
padding-top:20;

}
.right{

width:70%;
float:left;
height:100%;
border-right:2px solid;
border-top:2px solid;


}

.row:after{

content: "";
  display: table;
  clear: both;


}